@import "tailwindcss";

.section-content{
    max-width: 1140px;
    margin: 0 auto;
}
.dark-1{
    color: #1C1C1C;;
}
.dark-2{
    color: #777777;
}
.drop-shadow-1{
    box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.06);
}